$cianCol: #58A9A5;
$maxHeightHeader: calc(100px + (250 - 100)*((100vw - 768px)/(1920-768)));
$frs: calc(50px + (140 - 50)*((100vw - 768px)/(1920-768)));

.button {
    width:271px;
    height:80px;
    background-color: $cianCol;
    border-radius: 20px 20px 20px 0px; 
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color:white;
}
@media screen and (max-width:1440px){
    .button{
        width:250px;
        height:70px;
        font-size: 20px;
        line-height: 37px;
    }
}
@media screen and (max-width:1280px){
    .button{
        width:200px;
        height:60px;
        font-size: 20px;
        line-height: 37px;
    }
}

.title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: calc(65px + (70 - 65)*((100vw - 1600px)/(1920-1600)));
    line-height: calc(80px + (105 - 80)*((100vw - 1600px)/(1920-1600)));
    color:#1C2323;
    max-width:674px;
}

@media screen and (max-width:1600px){
    .title {
        font-size: calc(35px + (65 - 35)*((100vw - 425px)/(1600-425)));
        line-height: calc(40px + (80 - 40)*((100vw - 425px)/(1600-425)));
    }
}


.description{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: calc(26px + (30 - 26)*((100vw - 1600px)/(1920-1600)));
    line-height: calc(37px + (45 - 37)*((100vw - 1600px)/(1920-1600)));
    color: #404242;
}

@media screen and (max-width:1600px){
    .description {
        font-size: calc(18px + (26 - 18)*((100vw - 425px)/(1600-425)));
        line-height: calc(25px + (37 - 25)*((100vw - 1024px)/(1600-1024)));
    }
}

.description-little{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #486958;
}

.content{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

%tpl__input{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: #486958;
}

.wrapper {
    min-height: 100vh;
    display:grid;
    grid-template: minmax(auto, 250px) 1fr minmax(auto, 784px) / minmax(auto, 140px) 1fr minmax(auto, 140px);
}

@media screen and (max-width:1600px){
    .wrapper {
        min-height: 100vh;
        display:grid;
        grid-template: minmax(auto, $maxHeightHeader) 1fr minmax(auto, 784px) / minmax(auto, $frs) 1fr minmax(auto, $frs);
    }
}

.header {
    grid-row: 1/2;
    grid-column:2/3;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.header__logo {
}
@media screen and (max-width:500px){
    .header__logo{
        width:160px;
        height:45px;
        margin-left:-20px;
    }
}
.header__image {
    width:100%;
    height:100%;
    object-fit: contain;
}
.header__navigation {
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.header__items {
    display:flex;
}

@media screen and (max-width:1024px){
    .header__items {
        display:none;
    }
}

.header__items li {
    margin-right:85px;
    &:last-child {
        margin-right:0px;
    }
}

@media screen and (max-width:1440px){
    .header__items li {
        margin-right:35px;
        &:last-child {
            margin-right:0px;
        }
    }
}

.header__item{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    color: #404242;
}
@media screen and (max-width:1440px){
    .header__item{
        font-size: calc(18px + (25 - 18)*((100vw - 1024px)/(1440-1024)));
        line-height: 37px;
    }
}
.header__nav {
    display:none;
}

@media screen and (max-width:1024px){
    .header__nav {
        display:block;
    }
}

.header__span {
    display:block;
    width:40px;
    height:4px;
    border: 1px solid $cianCol;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: $cianCol;
}



.span1 {
}
.span2 {
}
.span3 {
}
.header__button {
    border-radius: 15px; 
    font-weight: 500;
}

@media screen and (max-width:1024px){
    .header__button {
        display:none;
    }
}

.main {
    grid-column:2/3;
    grid-row:2/3;
}
.home {
    display:flex;
    justify-content:space-between;
    margin-bottom:120px;
    position:relative;
    flex-direction:row;
}
@media screen and (max-width:768px){
    .home {
        display:flex;
        margin-bottom:120px;
        flex-direction: column-reverse;
    }
}

.home__text {
}
@media screen and (max-width:1024px){
    .home__text {
        width:100%;
        max-width:400px;
    }
}
@media screen and (max-width:768px){
    .home__text {
        width:100%;
        max-width:600px;
        margin:0 auto;
    }
}
@media screen and (max-width:500px){
    .home__text {
        width:100%;
    }
}
.home__title {
    margin-top:calc(50px + (68 - 40)*((100vw - 1600px)/(1920-1600)));
    margin-bottom:calc(45px + (50 - 45)*((100vw - 1600px)/(1920-1600)));
}
@media screen and (max-width:1600px){
    .home__title{
        margin-top:calc(15px + (80 - 15)*((100vw - 375px)/(1600-375)));
        margin-bottom:calc(15px + (45 - 15)*((100vw - 375px)/(1600-375)));
    }
}
.home__description {
    max-width:743px;
}
@media screen and (max-width:1440px){
    .home__description {
        max-width:500px;
    }
}
@media screen and (max-width:1024px){
    .home__description {
        max-width:300px;
    }
}
@media screen and (max-width:768px){
    .home__description {
        max-width:600px;
    }
}
@media screen and (max-width:500px){
    .home__description {
        width:100%;
    }
}
.home__button {
    margin-top:calc(40px + (50 - 40)*((100vw - 1600px)/(1920-1600)));
}
@media screen and (max-width:1600px){
    .home__button {
        margin-top:40px;
    }
}
@media screen and (max-width:768px){
    .home__button {
        margin-top:calc(25px + (40 - 25)*((100vw - 375px)/(768-375)));
    }
}


.home__image-block {
    
}
@media screen and (max-width:1600px){
    .home__image-block {
       
    }
}
@media screen and (max-width:1024px){
    .home__image-block {
        width:100%;
    
    }
}
@media screen and (max-width:768px){
    .home__image-block {
        width:100%;
        display:block;
        text-align:center;
    }
}

.home__image-img {
    width:100%;
    height:100%;
    object-fit:contain;
}

// @media screen and (max-width:1600px){
//     .home__image-img {
//         width:100%;
//     }
// }
@media screen and (max-width:768px){
    .home__image-img {
       max-width:400px;
        
    }
}




.explanation {
    margin-bottom:120px;
}

.explanation__title {
    display:inline-block;
}
.explanation__description {
    display:inline-block;
    max-width:506px;
    margin: 20px 0 71px 0;
}
.explanation__video {
    display:flex;
    background: #CCF0E6;
    margin-bottom:150px;
    width:100%;

}
.explanation__image-video {
    width:66%;
    position:relative;
}
.explanation__image-img {
    width:100%;
    height:100%;
    object-fit: cover;
}
.explanation__image-play {
    position:absolute;
    top:105px;
    right:-30px;
}
.explanation__text {
    max-width:328px;
    margin:0 auto;
    box-sizing: border-box;
    width:34%;
    position:relative;

}
.explanation__description-little {
    padding:70px 25px 41px 25px;
}

.explanation__link {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #486958;
    letter-spacing:4px;
    padding: 0 25px 70px 25px;
    display:inline-block;

}
.explanation__image-block {
    display:flex;
}
@media screen and (max-width:1440px){
    .explanation__image-block {
        // display:flex;
        // flex-direction: column;
    }
}
    
.explanation__image-visual {
}
.explanation__texting{
    padding-left:142px;
}
@media screen and (max-width:1440px){
    .explanation__texting{
        padding-left:90px;
    }
}

.explanation__title-main{
    max-width:487px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #1C2323;
    margin-bottom:50px;
}
.explanation__description-big {
    max-width:708px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #486958;
}





.projects {
    margin-bottom:250px;

    // .projects__content

    &__content {
    }

    // .projects__title

    &__title {
        
    }

    // .projects__description

    &__description {
        margin: 20px 0 51px 0;
    }

    // .projects__items

    &__items {
        margin-top:94px;
        display:flex;
        justify-content: space-between;
    }

    // .projects__item

    &__item {
        max-width:453px;
    }

    // .projects__text

    &__text {
    }

    // .projects__subtitle

    &__subtitle {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        color: #58A9A5;
        
    }

    // .projects__subdescription

    &__subdescription {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #486958;
        margin: 5px 0 35px 0;
    }

    // .projects__image

    &__image {
    }

    // .projects__foto

    &__foto {
    }
}
.line{
    width:135px;
    height: 4px;
    background-color:$cianCol;
    margin:0 auto;
    margin-bottom:10px;
}
.content {
}
.title {
}
.description {
}

.test {
    margin-bottom:240px;
}
.projects__content {
}
.content {
}
.projects__title {
}
.title {
}
.projects__brands {
    display:flex;
    justify-content:center;
}
.project__brand {
    margin-right:90px;
    &:first-child{
        margin-right:20px;
    }
    &:last-child{
        margin-right:0;
    }
}
.projects__exp {
    background-color: #CCF0E6;
    display:flex;
}
.projects__image {
}
.projects__foto {
}
.projects__text {
    margin:50px auto;
}
.projects__achieves {
    display:flex;
    justify-content:space-between;
    margin-bottom:100px;
    span{
        font-family: Poppins;
        font-weight: 800;
        font-size: 70px;
        line-height: 105px;
        color: #58A9A5;
    }
}
.projects__achieve {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #58A9A5;
    max-width:204px;
}

.projects__review {
    max-width:752px;
    position:relative;
    z-index:3;
    .projects__image-add{
        position:absolute;
        left:-40px;
        top:-60px;
        z-index:1;
    }
}
.projects__review-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: #486958;
    z-index:3;
    position:relative;
    span{
        font-family: Poppins;
        font-style: italic;
        font-weight: 500;
        font-size: 25px;
        line-height: 37px;
        color: #75BBB5;
        display:inline-block;
        margin-top:30px;
    }

}

.footer {
    grid-column:2/3;
    grid-row:3/4;
    display:flex;
}
.footer__form{
    border:1px solid #486958;
    width:100%;
    height:450px;
    form{
        margin: 0 54px 0 54px;
    }
}
.footer__input{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: #486958;
    margin-top:57px;
    margin-bottom:25px;
    &::-webkit-input-placeholder{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 37px;
        color: #486958;
    }
    &::-moz-placeholder{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 37px;
        color: #486958;
    }
    &:-moz-placeholder{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 37px;
        color: #486958;
    }
    &:-ms-input-placeholder{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 37px;
        color: #486958;
    }
}

#textarea__descr{
    margin-top: 37px;
    width:71%;
}

.footer__content {
    max-width: 398px;
    margin-right:105px;
    .line {
        margin:0;
        margin-bottom:10px;
    }
}
.footer__title {
}
.title {
}
.footer__questions {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: #486958;  
    margin:10px 0 37px 0;  
}
.footer__button{
   
}

.black__line {
    width:1000px;
    height:3px;
    background-color: #486958;
}