$cianCol: #58A9A5;
$maxHeightHeader: calc(100px + (250 - 100)*((100vw - 768px)/(1920-768)));
$frs: calc(50px + (140 - 50)*((100vw - 768px)/(1920-768)));

.button {
    width:271px;
    height:80px;
    background-color: $cianCol;
    border-radius: 20px 20px 20px 0px; 
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color:white;
}
@media screen and (max-width:1440px){
    .button{
        width:250px;
        height:70px;
        font-size: 20px;
        line-height: 37px;
    }
}
@media screen and (max-width:1280px){
    .button{
        width:200px;
        height:60px;
        font-size: 20px;
        line-height: 37px;
    }
}


.title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: calc(65px + (70 - 65)*((100vw - 1600px)/(1920-1600)));
    line-height: calc(80px + (105 - 80)*((100vw - 1600px)/(1920-1600)));
    color:#1C2323;
    max-width:674px;
}

@media screen and (max-width:1600px){
    .title {
        font-size: calc(35px + (65 - 35)*((100vw - 425px)/(1600-425)));
        line-height: calc(40px + (80 - 40)*((100vw - 425px)/(1600-425)));
    }
}


.description{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: calc(26px + (30 - 26)*((100vw - 1600px)/(1920-1600)));
    line-height: calc(37px + (45 - 37)*((100vw - 1600px)/(1920-1600)));
    color: #404242;
}

@media screen and (max-width:1600px){
    .description {
        font-size: calc(18px + (26 - 18)*((100vw - 425px)/(1600-425)));
        line-height: calc(25px + (37 - 25)*((100vw - 1024px)/(1600-1024)));
    }
}

.description-little{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #486958;
}


.content{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

%tpl__input{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: #486958;
}

.wrapper {
    min-height: 100vh;
    display:grid;
    grid-template: minmax(auto, 250px) 1fr minmax(auto, 784px) / minmax(auto, 140px) 1fr minmax(auto, 140px);
}

@media screen and (max-width:1600px){
    .wrapper {
        min-height: 100vh;
        display:grid;
        grid-template: minmax(auto, $maxHeightHeader) 1fr minmax(auto, 784px) / minmax(auto, $frs) 1fr minmax(auto, $frs);
    }
}

.header {
    grid-row: 1/2;
    grid-column:2/3;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.header__logo {
}
@media screen and (max-width:500px){
    .header__logo{
        width:160px;
        height:45px;
        margin-left:-20px;
    }
}
.header__image {
    width:100%;
    height:100%;
    object-fit: contain;
}
.header__navigation {
    display:flex;
    flex-direction:column;
    position:relative;
}

.header__items {
    display:flex;
}

@media screen and (max-width:1024px){
    .header__items {
        display:none;
    }
}

.header__items li {
    margin-right:85px;
    &:last-child {
        margin-right:0px;
    }
}

@media screen and (max-width:1440px){
    .header__items li {
        margin-right:35px;
        &:last-child {
            margin-right:0px;
        }
    }
}

.header__item{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    color: #404242;
}
@media screen and (max-width:1440px){
    .header__item{
        font-size: calc(18px + (25 - 18)*((100vw - 1024px)/(1440-1024)));
        line-height: 37px;
    }
}

.active__item{
    font-weight: 600;
    color:rebeccapurple;
    // transition: 0.4s;
}

.header__under{
    width:75px;
    height:5px;
    border:1px solid orange;
    background-color:orange;
    border-radius:3px;
}
@media screen and (max-width:1024px){
    .header__under {
        display:none;
    }
}

.header__nav {
    display:none;
}

@media screen and (max-width:1024px){
    .header__nav {
        display:block;
    }
}

.header__span {
    display:block;
    width:40px;
    height:4px;
    border: 1px solid $cianCol;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: $cianCol;
}



.span1 {
}
.span2 {
}
.span3 {
}
.header__button {
    border-radius: 15px; 
    font-weight: 500;
}

@media screen and (max-width:1024px){
    .header__button {
        display:none;
    }
}

.main {
    grid-column:2/3;
    grid-row:2/3;
}
.home {
    display:flex;
    justify-content:space-between;
    margin-bottom:120px;
    position:relative;
    flex-direction:row;
}
@media screen and (max-width:768px){
    .home {
        display:flex;
        margin-bottom:120px;
        flex-direction: column-reverse;
    }
}

.home__text {
}
@media screen and (max-width:1024px){
    .home__text {
        width:100%;
        max-width:400px;
    }
}
@media screen and (max-width:768px){
    .home__text {
        width:100%;
        max-width:600px;
        margin:0 auto;
    }
}
@media screen and (max-width:500px){
    .home__text {
        width:100%;
    }
}
.home__title {
    margin-top:calc(50px + (68 - 40)*((100vw - 1600px)/(1920-1600)));
    margin-bottom:calc(45px + (50 - 45)*((100vw - 1600px)/(1920-1600)));
}
@media screen and (max-width:1600px){
    .home__title{
        margin-top:calc(15px + (80 - 15)*((100vw - 375px)/(1600-375)));
        margin-bottom:calc(15px + (45 - 15)*((100vw - 375px)/(1600-375)));
    }
}
.home__description {
    max-width:743px;
}
@media screen and (max-width:1440px){
    .home__description {
        max-width:500px;
    }
}
@media screen and (max-width:1024px){
    .home__description {
        max-width:300px;
    }
}
@media screen and (max-width:768px){
    .home__description {
        max-width:600px;
    }
}
@media screen and (max-width:500px){
    .home__description {
        width:100%;
    }
}
.home__button {
    margin-top:calc(40px + (50 - 40)*((100vw - 1600px)/(1920-1600)));
}
@media screen and (max-width:1600px){
    .home__button {
        margin-top:40px;
    }
}
@media screen and (max-width:768px){
    .home__button {
        margin-top:calc(25px + (40 - 25)*((100vw - 375px)/(768-375)));
    }
}


.home__image-block {
    
}
@media screen and (max-width:1600px){
    .home__image-block {
       
    }
}
@media screen and (max-width:1024px){
    .home__image-block {
        width:100%;
    
    }
}
@media screen and (max-width:768px){
    .home__image-block {
        width:100%;
        display:block;
        text-align:center;
    }
}

.home__image-img {
    width:100%;
    height:100%;
    object-fit:contain;
}
@media screen and (max-width:768px){
    .home__image-img {
       max-width:400px;
        
    }
}

.explanation {
    margin-bottom:120px;
}

.explanation__title {
    display:inline-block;
}
.explanation__description {
    display:inline-block;
    max-width:506px;
    margin: 20px 0 71px 0;
}
@media screen and (max-width:1024px){
    .explanation__description {
       margin-bottom: 40px;
    }
}
.explanation__video {
    display:flex;
    background: #CCF0E6;
    margin-bottom:150px;
    width:100%;
}
@media screen and (max-width:1024px){
    .explanation__video {
       margin-bottom: calc(70px + (105 - 70)*((100vw - 375px)/(1024-375)));
    }
}
@media screen and (max-width:1024px){
    .explanation__video {
        display:flex;
        flex-direction:column;
    }
}

.explanation__image-video {
    width:66%;
    position:relative;
}
@media screen and (max-width:1024px){
    .explanation__image-video {
        width:100%;
        position:static;
    }
}
.explanation__image-img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.explanation__image-play {
    position:absolute;
    top:105px;
    right:-30px;
}
@media screen and (max-width:1024px){
    .explanation__image-play {
        display:none;
    }
}
.explanation__image-play2 {
    display:none;
}
@media screen and (max-width:1024px){
    .explanation__image-play2 {
        display:block;
        position:absolute;
        bottom:calc(80px + (90 - 80)*((100vw - 360px)/(1024-360)));
        // cтрока которая регулирует нижний отступ для кнопки плей
        left:calc(35% + (55 - 35)*((100vw - 360px)/(1024-360))); 
        // cтрока которая регулирует левый отступ для кнопки плей 
        width:calc(50px + (128 - 50)*((100vw - 375px)/(1024-375)));
        height:calc(50px + (128 - 50)*((100vw - 375px)/(1024-375)));
    }
}

.explanation__text {
    max-width:328px;
    margin:0 auto;
    box-sizing: border-box;
    width:34%;
}
@media screen and (max-width:1024px){
    .explanation__text {
       width:100%;
       margin:0 auto;
       max-width:90%;
       text-align:center;
       position:relative;
    }
}
.explanation__description-little {
    padding:0 25px;
    margin: 70px 0 41px 0;
}
@media screen and (max-width:1024px){
    .explanation__description-little {
        margin-top:calc(30px + (70 - 30)*((100vw - 375px)/(1024-375)));
        margin-bottom:calc(20px + (41 - 20)*((100vw - 375px)/(1024-375)));
        padding: 0 calc(15px + (25 - 15)*((100vw - 375px)/(1024-375)));
        font-size: calc(16px + (20 - 16)*((100vw - 375px)/(1024-375)));
        line-height: calc(20px + (30 - 20)*((100vw - 375px)/(1024-375)));
    }
}

.explanation__link {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #486958;
    letter-spacing:4px;
    padding: 0 25px 70px 25px;
    display:inline-block;
}
@media screen and (max-width:1368px){
    .explanation__link {
        padding-left:70px;
    }
}
@media screen and (max-width:1024px){
    .explanation__link {
       text-align:center; 
       padding:0 0 calc(30px + (70 - 30)*((100vw - 375px)/(1024-375))) 0;
       font-size: calc(17px + (20 - 17)*((100vw - 375px)/(1024-375))); 
    }
}
.explanation__image-block {
    display:flex;
}
@media screen and (max-width:1024px){
    .explanation__image-block {
        display:flex;
        flex-direction: column;
    }
}
    
.explanation__image-visual {
}
.explanation__image-img2 {
    width:100%;
    height:100%;
    object-fit: contain;
}
@media screen and (max-width:1024px){
    .explanation__image-visual{
        margin:0 auto;
    }
}
.explanation__texting{
    padding-left:calc(100px + (142 - 100)*((100vw - 1600px)/(1920-1600)));
}
@media screen and (max-width:1600px){
    .explanation__texting{
        padding-left:calc(50px + (100 - 50)*((100vw - 1024px)/(1600-1024)));
    }
}
@media screen and (max-width:1024px){
    .explanation__texting{
        padding-left:0;
        width:100%;
    }
}
.explanation__title-main{
    max-width:487px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: calc(35px + (40 - 35)*((100vw - 1600px)/(1920-1600)));
    line-height: calc(50px + (60 - 50)*((100vw - 1600px)/(1920-1600)));
    color: #1C2323;
    margin-bottom:50px;
}
@media screen and (max-width:1600px){
    .explanation__title-main{
        font-size: calc(25px + (35 - 25)*((100vw - 375px)/(1600-375)));
        line-height: calc(35px + (50 - 35)*((100vw - 375px)/(1600-375)));
        margin-bottom:50px;
    }
}
@media screen and (max-width:1024px){
    .explanation__title-main{
        margin:30px auto 20px auto;
    }
}
.explanation__description-big {
    max-width:708px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: calc(28px + (30 - 28)*((100vw - 1600px)/(1920-1600)));
    line-height: calc(41px + (45 - 41)*((100vw - 1600px)/(1920-1600)));
    color: #486958;
}
@media screen and (max-width:1600px){
    .explanation__description-big{
        font-size: calc(18px + (28 - 18)*((100vw - 375px)/(1600-375)));
        line-height: calc(25px + (41 - 25)*((100vw - 375px)/(1600-375)));;
    }
}
@media screen and (max-width:1024px){
    .explanation__description-big{
        margin:0 auto;
    }
}





.projects {
    margin-bottom:250px;

    // .projects__content

    &__content {
    }

    // .projects__title

    &__title {
        
    }

    // .projects__description

    &__description {
        margin: 20px 0 51px 0;
    }
    @media screen and (max-width:1024px) {
        &__description {
            margin: 15px 0 30px 0;
        } 
    }

    // .projects__items

    &__items {
        margin-top:94px;
        display:flex;
        justify-content: space-between;
    }
    @media screen and (max-width:1024px) {
        &__items {
            display:flex;
            flex-direction:column;
            width:100%;
            align-items:center;
        }
        &__items:nth-child(2) {
            display:flex;
            flex-direction:column-reverse;
        }
    }
    @media screen and (max-width:768px) {
        &__items {
            margin-top:20px;
        } 
    }


    // .projects__item

    &__item {
        max-width:453px;
        margin:0 20px;
    }

    @media screen and (max-width:1024px) {
        &__item{
            margin-bottom: 30px;;
        }
        &__item:nth-child(2) {
            display:flex;
            flex-direction:column-reverse;
            &__subdescription {
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                color: #486958;
                margin: 5px 0 35px 0;
            }
        }
    }


    // .projects__text

    &__text {
    }
    @media screen and (max-width:1600px) {
        &__text {
            text-align:center;
        } 
    }
    // .projects__subtitle

    &__subtitle {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        color: #58A9A5;    
    }
    @media screen and (max-width:768px) {
        &__subtitle {
            font-size: calc(30px + (40 - 30)*((100vw - 360px)/(768-360)));
            line-height: calc(50px + (60 - 50)*((100vw - 360px)/(768-360)));;
        } 
    }

    // .projects__subdescription

    &__subdescription {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #486958;
        margin: 0;
    }

    // .projects__image

    &__image {
        margin:0 auto;
    }
    @media screen and (max-width:1600px) {
        &__image {
            width:350px;
            height:350px;
        } 
    }
    @media screen and (max-width:1440px) {
        &__image {
            width:270px;
            height:270px;
        } 
    }
    @media screen and (max-width:1024px) {
        &__image {
            width:450px;
            height:450px;
        } 
    }
    @media screen and (max-width:768px) {
        &__image {
            width:calc(300px + (450 - 300)*((100vw - 360px)/(768-360)));
            height:calc(300px + (450 - 300)*((100vw - 360px)/(768-360)));
        } 
    }

    // .projects__foto

    &__foto {
        width:100%;
        height:100%;
        object-fit:contain;
    }
}
.line{
    width:135px;
    height: 4px;
    background-color:$cianCol;
    margin:0 auto;
    margin-bottom:10px;
}
.content {
}






.test {
    margin-bottom:240px;
}
.test__content {
}
.content {
}
.test__title {
}
.title {
}
.test__brands {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.test__brand {
    margin-right:90px;
    &:first-child{
        margin-right:20px;
    }
    &:last-child{
        margin-right:0;
    }
}
@media screen and (max-width:1320px) {
    .test__brand {
        margin-right:0;
    }
}
.test__exp {
    background-color: #CCF0E6;
    display:flex;
    margin:0 auto;
}
@media screen and (max-width:1280px) {
    .test__exp {
        flex-direction:column;
        align-items:center;
        max-width:500px;
    }
}
.test__image {
    width:100%;
}
.test__foto {
    width:100%;
    height:100%;
    object-fit:contain;
}
.test__text {
    margin:50px auto;
    padding:0 40px;
}
@media screen and (max-width:1600px) {
    .test__text {
       
    } 
}

.test__achieves {
    display:flex;
    justify-content:space-between;
    margin-bottom:90px;
    span{
        font-family: Poppins;
        font-weight: 800;
        font-size: 70px;
        line-height: 105px;
        color: #58A9A5;
    }
    @media screen and (max-width:1440px) {
        span {
            font-size: calc(30px + (70 - 30)*((100vw - 360px)/(1440-360)));
            line-height:calc(50px + (105 - 50)*((100vw - 360px)/(1440-360)));
        } 
    }  
}
@media screen and (max-width:1280px) {
    .test__achieves {
        flex-wrap:wrap;
    }
}
.test__achieve {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #58A9A5;
    max-width:204px;
    margin-bottom:10px;
}
@media screen and (max-width:1440px) {
    .test__achieve {
        display:inline-block;
        font-size: calc(22px + (30 - 22)*((100vw - 360px)/(1440-768)));
        line-height:calc(30px + (45 - 30)*((100vw - 360px)/(1440-768)));
        padding-right:18px;
    } 
}

.test__review {
    max-width:752px;
    position:relative;
    z-index:3;
    .test__image-add{
        position:absolute;
        left:-40px;
        top:-60px;
        z-index:1;
    }
    @media screen and (max-width:1600px) {
        .test__image-add{
            left:-20px;
        } 
    }

}
.test__review-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: #486958;
    z-index:3;
    position:relative;
    span{
        font-family: Poppins;
        font-style: italic;
        font-weight: 500;
        font-size: 25px;
        line-height: 37px;
        color: #75BBB5;
        display:inline-block;
        margin-top:30px;
    }

}
@media screen and (max-width:1024px) {
    .test__review-text {
        font-size: calc(18px + (25 - 18)*((100vw - 360px)/(1024-360)));
        line-height: calc(25px + (37 - 25)*((100vw - 360px)/(1024-360)));
        span{
            font-size: calc(18px + (25 - 18)*((100vw - 360px)/(1024-360)));
            line-height: calc(25px + (37 - 25)*((100vw - 360px)/(1024-360)));
            margin-top:30px;
        }
    
    }
}








.footer {
    grid-column:2/3;
    grid-row:3/4;
    display:flex;
}
@media screen and (max-width:1600px){
    .footer {
       flex-direction: column;
    }
}
.footer__form{
    border:1px solid #486958;
    width:100%;
    height:450px;
    form{
        margin: 0 54px 0 54px;
    }
}

@media screen and (max-width:800px){
    .footer__form{
        height:550px;
        form{
            margin: 0 30px 0 30px;
        }
    }
}
@media screen and (max-width:800px){
    .footer__form{
        height:550px;
        form{
            margin: 0 30px 0 30px;
        }
    }
}
.footer__input{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: #486958;
    margin-top:57px;
    margin-bottom:25px;
    &::-webkit-input-placeholder{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 37px;
        color: #486958;
    }
    &::-moz-placeholder{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 37px;
        color: #486958;
    }
    &:-moz-placeholder{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 37px;
        color: #486958;
    }
    &:-ms-input-placeholder{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 37px;
        color: #486958;
    }
}

#textarea__descr{
    margin-top: 37px;
    width:calc(65% + (71 - 65)*((100vw - 360px)/(1920-1600)));
}

.footer__content {
    max-width: 398px;
    margin-right:105px;
    text-align: center;
    margin:0 auto;
    .line {
        margin:0 auto;
        margin-bottom:10px;
    }
}

.footer__title {

}
.title {
}
.footer__questions {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: #486958;  
    margin:10px 0 37px 0;  
}

.footer__button{
   
}
@media screen and (max-width:800px){
    .footer__button{
        display:block;
        width:100%;
        margin: 20px 0 30px 0;
    }
}

.black__line {
    width:1000px;
    height:3px;
    background-color: #486958;
}
@media screen and (max-width:1600px){
    .black__line{
        width: 100%;
    }
}